#contato {
    background: var(--cor-4);
}

.contato {
    display: grid;
    grid-template-columns: 5fr 7fr;
}

.contato-dados,
.contato-formulario {
    padding: 60px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.contato-dados {
    border-radius: 5px 0 0 5px;
    background: var(--cor-3);
}

.contato-formulario {
    border-radius: 0 5px 5px 0;
    background: #ffffff;
}

.contato-dados h2,
.contato-endereco h2,
.contato-endereco {
    margin-bottom: 30px;
}

.contato-endereco p {
    margin-bottom: 8px;
}

.contato-meios a {
    display: block;
    max-width: max-content;
    margin-bottom: 8px;
    font: 400 1rem 'DM Sans', sans-serif;
}

.contato-meios a:first-child {
    padding-left: 28px;
    background: url(../../assets/icons/local.svg) no-repeat 0px 2px;
}

.contato-meios a:nth-child(2) {
    padding-left: 28px;
    background: url(../../assets/icons/email.svg) no-repeat 0px 2px;
}

.contato-meios a:nth-child(3) {
    padding-left: 28px;
    background: url(../../assets/icons/telefone.svg) no-repeat 0px 2px;
}

.contato-meios a:hover {
    color: red;
}


/* Formulario */

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form label {
    display: block;
    font: 600 1rem/1.5 "Poppins", sans-serif;
    margin-bottom: 4px;
}

.form .col-2 {
    grid-column: span 2;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
    font: 400 1rem/1.5 "Roboto", sans-serif;
    background: var(--cor-4);
    border: 1px solid var(--cor-5);
    padding: 12px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}


.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
    outline: none;
    border-color: var(--cor-1);
    background: #ffffff;
    box-shadow: 0 0 0 2px #fea;
}


@media (max-width: 800px) {
    .contato {
        grid-template-columns: 1fr;
    }

    .contato-dados,
    .contato-formulario {
        padding: 20px;
    }

    .contato-dados {
        border-radius: 5px 5px 0 0;
        margin-bottom: 20px;
    }

    .contato-formulario {
        border-radius: 0 0 5px 5px;
    }

    .contato-dados h2 {
        font-size: 1.2rem;
    }

    .contato-dados h2,
    .contato-meios a:nth-child(3) {
        margin-bottom: 32px;
    }

    .contato-redes {
        margin-bottom: 12px;
    }

    @media (max-width: 600px) {
        .form {
            grid-template-columns: 1fr;
        }

        .form .col-2 {
            grid-column: 1;
        }
    }



}