.footer-bg {
    background-color: var(--cor-3);
}

.footer {
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.ft-subtitle {
    margin: 10px 0 40px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--cor-1);
}

.ft-subtitle:after,
.ft-subtitle:before {
    flex-grow: 1;
    height: 2px;
    content: '\a0';
    background-color: var(--cor-1);
    position: relative;
    top: 0.5em;
}

.ft-subtitle:before {
    margin-right: 10px;
}

.ft-subtitle:after {
    margin-left: 10px;
}

.footer-rede-sociais {
    margin: 0px 0 30px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-rede-sociais:after,
.footer-rede-sociais:before {
    flex-grow: 1;
    height: 2px;
    content: '\a0';
    background-color: var(--cor-1);
    position: relative;
    top: 0.5em;
}

.footer-redes {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.footer-contato {
    margin-top: 20px
}

.footer-copy {
    margin-top: 20px;
    color: var(--cor-1);
    font: 700 1rem 'DM Sans', sans-serif;
}


@media (max-width: 600px) {
    .footer-redes {
        margin-bottom: 30px;
    }

    .footer-copy {
        margin-top: 10px;
        font: 700 0.76rem 'DM Sans', sans-serif;
    }
}